/ {
	chosen {
:			zephyr,i2c = &i2c0;
			zephyr,ieee802154 = &ieee802154;
	};

	// define pins to make them usable in zephyr programs
	pins {
		compatible = "gpio-leds";
		pin05: pin_05 {
				gpios = < &gpio0 5 (GPIO_ACTIVE_HIGH) >;
				label = "Pin 0.05";
		};
	};

	// the alias is used in the zephyr program
	aliases {
			pwr = &pin05; 
			i2c = &i2c0;
	};
}; 

&ieee802154 {
	status = "okay";
};

// Serial over USB
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
			compatible = "zephyr,cdc-acm-uart";
			label = "CDC_ACM_0";
	};
};
