/ {
	chosen {
			//zephyr,shell-uart = &cdc_acm_uart0;
			zephyr,console = &cdc_acm_uart0;
			zephyr,i2c = &i2c0;
	};

	// define pins to make them usable in zephyr programs
	pins {
		compatible = "gpio-keys";
		pin02: pin_02 {
				gpios = < &gpio0 2 (GPIO_ACTIVE_HIGH) >;
				label = "Pin 0.02";
		};
	};

	// the alias is used in the zephyr program
	aliases {
			pwr = &pin02; 
			i2c = &i2c0;
	};
}; 

// Serial over USB
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
			compatible = "zephyr,cdc-acm-uart";
			label = "CDC_ACM_0";
	};
};

// remapping i2c0 pins to something useful
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 13)>,
					<NRF_PSEL(TWIM_SCL, 0, 15)>;
			bias-disable;          
        };
    };
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 13)>,
					<NRF_PSEL(TWIM_SCL, 0, 15)>;
			low-power-enable;
		};
	};
};

// activating the i2c0 bus
&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};
