/ {
	chosen {
			//zephyr,shell-uart = &cdc_acm_uart0;
			zephyr,console = &cdc_acm_uart0;
			zephyr,i2c = &i2c0;
	};

	// define pins to make them usable in zephyr programs
	pins {
		compatible = "gpio-leds";
		pin15: pin_15 {
			gpios = < &gpio1 15 (GPIO_ACTIVE_HIGH) >;
			label = "Pin 1.15";
		};
    };

	// the alias is used in the zephyr program
	aliases {
			pwr = &pin15;
            i2c = &i2c1;
            //led1_green = &led1;
            //led1_blue = &led2;
	};
}; 

// Serial over USB
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
			compatible = "zephyr,cdc-acm-uart";
			label = "CDC_ACM_0";
	};
};

// remapping i2c0 pins to something useful
&pinctrl {
    // freedom for Pin1.15 !
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 29)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>,
                    <NRF_PSEL(SPIM_SCK,1,13)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 29)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>,
                    <NRF_PSEL(SPIM_SCK,1,13)>;
        };
    };
};
